@media(max-width:576px) {
      p {
            background-color: blue;
            height: 50px;
      }
}

@media(min-width:576px) {
      p {
            background-color: blue;
            height: 50px;
      }
}

@media(min-width:768px) {
      p {
            background-color: blue;
            height: 100px;
            display: inline-block;
            margin: 10px;
            width: 45%;
      }
}

@media(min-width:992px) {
      p {
            background-color: blue;
            height: 100px;
            display: inline-block;
            margin: 10px;
            width: 22%;
      }
}

@media(min-width:1200px) {
      p {
            background-color: blue;
            height: 100px;
            display: inline-block;
            margin: 10px;
            width: 22%;
      }
}
