@media(max-width:576px) {
      p {
            background-color: blue;
            height: 50px;

      }
      .top {
            display: inline-block;
            width: 100%;
      }
      .bottom {
            margin: 20px;

            border: 2px solid black;
      }
}

@media(min-width:577px) {
      p {
            background-color: blue;
            height: 50px;

      }
      .top {
            display: inline-block;
            width: 48%;
      }
      .bottom {
            margin: 20px;

            border: 2px solid black;
      }
}

@media(min-width:772px) {
      p {
            background-color: blue;
            height: 50px;

      }
      .top {
            display: inline-block;
            width: 23%;
      }
      .bottom {
            margin: 20px;

            border: 2px solid black;
      }
}
