@media(max-width:576px) {
      p {
            background-color: blue;
            height: 50px;
      }
}

@media(min-width:576px) {
      p {
            background-color: blue;
            height: 50px;
      }
}

@media(min-width:768px) {
      p {
            height: 100px;
            display: inline-block;
            width: 35%;
            margin: 3%;
      }
}

@media(min-width:992px) {
      p {
            width: 15%;
      }
}

@media(min-width:1200px) {
      p {
            width: 20%;
      }
}
