body {
  background-color: white;
  margin: 0px;
  font-family: sans-serif;
}

.flexbox {
  display: flex;
  flex-direction: column;
}

.common {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: orange;
  text-align: center;
  font-size: 24px;
  padding: 25px;
  flex-grow: 1;
  color: white;
}

.navigation {
  background-color: green;
  text-align: center;
  font-size: 24px;
  padding: 25px;
  flex-grow: 1;
  color: white;
}

.footer {
  background-color: grey;
  text-align: center;
  font-size: 24px;
  padding: 25px;
  flex-grow: 1;
  color: white;
}

.mainsection {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 1;
  width: 900px;
}

.subsection {
  border: 1px solid;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.part1 {
  border: dotted;
  margin-bottom: 10px;
}

/*  display: flex;*/

/*  flex-wrap: wrap;*/

/*  text-align: center;*/

/*}*/

/*.header {*/

/*  padding-top: 15px;*/

/*  padding-bottom: 15px;*/

/*  color: white;*/

/*  background-color: orange;*/

/*  flex-grow: 1;*/

/*}*/

/*.navigation {*/

/*  padding-top: 15px;*/

/*  padding-bottom: 15px;*/

/*  color: white;*/

/*  background-color: #055605;*/

/*  flex-grow: 1;*/

/*}*/

/*.main {*/

/*  padding-top: 15px;*/

/*  padding-bottom: 15px;*/

/*  width: 800px;*/

/*  background-color: white;*/

/*  flex-grow: 1;*/

/*}*/

/*.article {*/

/*  border: 2px solid black;*/

/*  flex-grow: 1;*/

/*  margin-right: 20px;*/

/*  margin-bottom: 20px;*/

/*  margin-left: 20px;*/

/*  margin-top: 0px;*/

/*  padding-top: 0px;*/

/*}*/

/*.section {*/

/*  border: 2px dotted black;*/

/*  margin: 10px;*/

/*  padding: 30px;*/

/*}*/

/*.footer {*/

/*  padding-top: 15px;*/

/*  padding-bottom: 15px;*/

/*  width: 800px;*/

/*  color: white;*/

/*  background-color: #afb0b1;*/

/*  flex-grow: 1;*/

/*}*/

/*.total-main {*/

/*  background-color: white;*/

/*}*/
